Prototypes
env
.venv
env311
__pycache__
.vscode
notas.txt
games_data.json
main.spec
Free Games beta-2.spec
*-*.spec
*.spec
propaganda.txt
build
build*
build/*
dist
dist*
dist/*
.venv
landingpage/boseto.png
landingpage/notas.txt
*.psd
setup_py2exe
releases